; default registry
registry=https://registry.npm.taobao.org/
;registry=https://npm.taobao.org/
;registry=https://registry.yarnpkg.com/

; Set a registry for @xes/xes-fe-log
;@xes:registry=https://npm.100tal.com/

; Set a registry for @udc/tal-deviceinfo-jssdk
;@udc:registry=https://npm.100tal.com/

; Set a registry for @leapfe/erwa
;@leapfe:registry=https://npm.firstleap.cn

; npm log level  "silent", "error", "warn", "notice", "http", "timing", "info", "verbose", "silly"
;loglevel=timing

;
;send-metrics=false

;
;package-lock=true;
